* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 25px;
  font-family: 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
  color: #000033;
}
.bio {
  margin-bottom: 25px;
}
.bio .subtitle {
  font-size: 24px;
  color: #000033;
  opacity: .75;
  margin-bottom: 12.5px;
  display: block;
}
.bio .subtitle a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.bio h1 {
  font-size: 50px;
  font-weight: 400;
}
.bio .subtitle a:after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #d0ecf7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: .25s ease all;
}
.bio .subtitle a:hover:after {
  height: 27px;
}
.bio .twitter img {
  width: 25px;
}

.signup-container {
  background-color: #d0ecf7;
  padding: 25px;
  width: calc(100vw - 50px);
  max-width: 750px;
}
.signup-container h2 {
  font-weight: 400;
  margin-bottom: 12.5px;
}
.signup-container form {
  display: flex;
}
input[type="email"] {
  padding: 10px;
  border: 0;
  width: calc(100vw - 100px);
  max-width: 250px;
}
input[type="submit"] {
  border: 0;
  background-color: #000033;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.article {
  text-decoration: none;
  margin: 25px 0;
  display: block;
  width: calc(100vw - 50px);
  max-width: 750px;
}
.article h3 {
  font-weight: 400;
  font-size: 20px;
  color: #000033;
  display: inline-block;
}
.article span {
  color: #000033;
  opacity: .4;
  font-size: 14px;
  font-weight: 400;
}

.return {
  text-decoration: none;
  color: #000033;
  opacity: .75;
  margin-bottom: 12.5px;
  display: inline-block;
}
.article-content {
  width: calc(100vw - 50px);
  max-width: 750px;
  word-wrap: break-word;
}
.article-content h1,
.article-content h2,
.article-content h3 {
  line-height: 1.7;
  color: #000033;
  font-weight: 400;
}
.article-content h1 {
  font-size: 50px;
  line-height: 1;
}
.article-content h2 {
  font-size: 30px;
  margin-top: 12.5px;
}
.article-content h3 {
  font-size: 20px;
  margin-top: 12.5px;
}
.article-content p,
.article-content li,
.article-content span {
  line-height: 1.7;
  margin-bottom: 25px;
  color: #000033;
  opacity: .75;
  font-weight: 400;
  font-size: 18px;
}
.article-content img {
  width: 100%;
}
.article-content .date {
  margin-bottom: 18.75px;
  display: block;
  color: #000033;
  opacity: .4;
  font-size: 16px;
  font-weight: 400;
}
.article-content {
  margin-bottom: 25px;
}
.article-content a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
.article-content a:after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #d0ecf7;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: .25s ease all;
}
.article-content a:hover:after {
  height: 18px;
}
